{# ===========================================================
   @ORGANISMS - STANDARDS-LAYOUT
   - Orchestrates /standards/ sections in a single column
=========================================================== #}

{% macro renderStandardsLayout(option) %}
  {% from "01-organisms/section-hero.njk" import renderSectionHero %}
  {% from "01-organisms/section-value.njk" import renderSectionValue %}

  <div class="standards-layout w-full self-start flex flex-col">
    {{ renderSectionHero({
        name: option.hero_name,
        datas: option.hero_datas,
        typographyDatas: option.typography_datas,
        linkDatas: option.link_datas
    }) }}

    {{ renderSectionValue({
        name: option.value_name,
        datas: option.value_datas,
        typographyDatas: option.typography_datas,
        iconDatas: option.icon_datas
    }) }}

    {{ renderSectionValue({
        name: option.proof_name,
        datas: option.value_datas,
        typographyDatas: option.typography_datas,
        linkDatas: option.link_datas
    }) }}

    {{ renderSectionValue({
        name: option.sources_name,
        datas: option.value_datas,
        typographyDatas: option.typography_datas
    }) }}
  </div>
{% endmacro %}