---
permalink: "/"
layout: '00-core/base.njk'
---

{% from "02-molecules/content-block.njk" import renderContentBlock %}

{{ renderContentBlock({ 
    name: "journey_freelance",
    datas: molecules["content-block"]["content-blocks"],
    typographyDatas: atoms.typography.texts,
    imageDatas: atoms.image.images,
    buttonDatas: atoms.button.buttons
}) }}