---
permalink: "/"
layout: '00-core/base.njk'
---

<h1>Charlotte Carpentier - Personal Site</h1>
<p>Welcome! This is the starting point of your portfolio and CV website.</p>

{% from "02-molecules/content-block.njk" import renderContentBlock %}

{{ renderContentBlock({ 
    name: "journey_ehpad",
    datas: molecules["content-block"]["content-blocks"],
    typographyDatas: atoms.typography.texts,
    imageDatas: atoms.image.images,
    buttonDatas: atoms.button.buttons
}) }}