---
permalink: "/redirection/"
layout: '00-core/base.njk'
title: "Redirection..."
---

<script>
  // Redirection immédiate vers l'onglet merci
  window.location.replace('/#merci');
</script>

<noscript>
  <meta http-equiv="refresh" content="0; url=/#merci" />
  <p>Redirection en cours...</p>
</noscript>